INVERTERMONITOR_PORT=8080

MONITOR__GATEWAYHOST=10.44.0.173
MONITOR__GATEWAYPORT=4196
MONITOR__SLAVEID=1
MONITOR__POLLINTERVALMS=2000
MONITOR__INVERTERDEFINITIONID=srne-sun-gold-sph8048
MONITOR__BRAND=SRNE / Sun Gold Power
MONITOR__MODEL=SPH8048
MONITOR__POLLINGENABLED=true

MONITOR__MQTT__ENABLED=false
MONITOR__MQTT__HOST=10.44.0.32
MONITOR__MQTT__PORT=1883
MONITOR__MQTT__CLIENTID=invertermonitor
MONITOR__MQTT__TOPICPREFIX=invertermonitor
MONITOR__MQTT__USERNAME=
MONITOR__MQTT__PASSWORD=
MONITOR__MQTT__RETAIN=true
MONITOR__MQTT__HOMEASSISTANTDISCOVERY=true
